<!-- <html>
   <body>
      <img src="iris.png" alt="Iris species"/>
      <form action = "/" method = "post">
         <p>Enter sepal length (cm) - typically 4.3cm-7.9cm:</p>
         <p><input type = "float" name = "sl" /></p>
         <p>Enter sepal width (cm) - typically 2cm-4.4cm:</p>
         <p><input type = "float" name = "sw" /></p>
         <p>Enter petal length (cm) - typically 1cm-6.9cm:</p>
         <p><input type = "float" name = "pl" /></p>
         <p>Enter petal width (cm) - typically 0.1cm-2.5cm:</p>
         <p><input type = "float" name = "pw" /></p>
         <p><input type = "submit" value = "submit" /></p>

          {{prediction}}
      </form>
   </body>
</html> -->


<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Iris prediction</title>
  <link rel="icon" type="image/x-icon" href="/static/iris.png">
    <!-- <link rel="stylesheet" href="style.css"> -->
  </head>
  <body>
      <center>
      <img src="{{url_for('static', filename='iris.jpg')}}" alt="Iris species"/>
      <form action = "/" method = "post">
         <p>Enter sepal length (cm) - typically 4.3cm-7.9cm:</p>
         <p><input type = "float" name = "sl" /></p>
         <p>Enter sepal width (cm) - typically 2cm-4.4cm:</p>
         <p><input type = "float" name = "sw" /></p>
         <p>Enter petal length (cm) - typically 1cm-6.9cm:</p>
         <p><input type = "float" name = "pl" /></p>
         <p>Enter petal width (cm) - typically 0.1cm-2.5cm:</p>
         <p><input type = "float" name = "pw" /></p>
         <p><input type = "submit" value = "submit" /></p>

          {{prediction}}
      </form>
      </center>
          
  </body>
</html>